#editor, .editor {
	color: var(--vscode-foreground);
	background-color: var(--vscode-editor-background);
}

.vscode-dark {

    /* Entries for @media (prefers-color-scheme: dark) from markup.css */

    a {
        color: #4183c4;
    }

    code {
        color: white;
        background-color: #808080;
    }

    .resize-container img {
        outline: 1px white dashed;
    }

    .resize-handle-nw,
    .resize-handle-ne,
    .resize-handle-sw,
    .resize-handle-se {
        outline: 1px white solid;
        background: black;
    }

    .searching {
        background: rgba(255, 255, 255, 0.10);
    }

    /* Entries for @media (prefers-color-scheme: dark) from toolbar.css */

    .ProseMirror-menubar {
        background: black;
        color: lightgray;
        border-bottom: 1px solid gray;
    }

    .ProseMirror-menu-disabled {
        opacity: .6;
    }

    .ProseMirror-menu-dropdown-item:hover {
        background: rgb(11, 11, 11);
    }

    .ProseMirror-menu-dropdown-menu,
    .ProseMirror-menu-submenu {
        background: black;
        color: lightgray;
        border: 1px solid gray;
    }

    .ProseMirror-menuseparator {
        border-right: 1px solid gray;
    }

    .ProseMirror-menuitem-active {
        background: red;
    }

    .ProseMirror-menuitem {
        border: 1px solid white;
        fill: white;
    }

    .ProseMirror-icon svg {
        fill: white;
        color: white;
    }
}