#editor,
.editor {
    color: var(--vscode-foreground);
    background-color: var(--vscode-editor-background);
}

.Markup-toolbar {
    top: 8px;
}

.vscode-dark {

    /* Entries for @media (prefers-color-scheme: dark) from markup.css */

    a {
        color: #4183c4;
    }

    code {
        color: white;
        background-color: #808080;
    }

    .resize-container img {
        outline: 1px white dashed;
    }

    .resize-handle-nw,
    .resize-handle-ne,
    .resize-handle-sw,
    .resize-handle-se {
        outline: 1px white solid;
        background: black;
    }

    .searching {
        background: rgba(255, 255, 255, 0.10);
    }

    /* Entries for @media (prefers-color-scheme: dark) from toolbar.css */

    .Markup-toolbar {
        color: rgb(250, 249, 246);
        background: rgba(40, 40, 43, 0.9);
        border-bottom: 1px solid gray;
    }

    .Markup-menuitem {
        color: lightblue;
        border: 1px solid lightblue;
        /* border: 1px solid #4183c4; */
        background: black;
        fill: lightblue;
    }

    .Markup-menuitem-active {
        fill: black;
        color: black;
        background: lightblue;
    }

    .Markup-menuitem-disabled {
        opacity: .6;
    }

    .Markup-menuseparator {
        border-right: 1px solid gray;
    }

    .Markup-menu-dropdown-menu,
    .Markup-menu-submenu {
        border: 1px solid lightgray;
    }

    .Markup-menu-dropdown-item:hover,
    .Markup-menu-submenu-wrap:hover {
        background: rgb(80, 80, 80);
    }

    .Markup-menu-submenu {
        /* background cannot be inherited because of hover highlighting in dropdown */
        background: black;
    }

    .Markup-selection {
        border: 1px solid lightblue;
    }

    /* Toolbar-more styling */

    .Markup-toolbar-more {
        color: rgb(250, 249, 246);
        background: rgba(40, 40, 43, 0.9);
        border-bottom: 1px solid gray;
    }

    /* Searchbar styling */

    .Markup-searchbar {
        color: rgb(250, 249, 246);
        background: rgba(40, 40, 43, 0.9);
        border-bottom: 1px solid gray;
    }

    .Markup-searchbar input {
        color: rgb(250, 249, 246);
        background: rgb(40, 40, 43);
        border: 1px solid gray;
    }

    /* Dialog/prompt styling for insert/edit actions */

    .Markup-prompt-overlay {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .Markup-toolbar-overlay {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .Markup-prompt {
        background: black;
        box-shadow: -.5px 2px 5px rgba(255, 255, 255, 0.8);
    }

    .Markup-prompt p {
        color: white;
    }

    .Markup-prompt input[type="text"] {
        color: rgb(250, 249, 246);
        background: rgb(40, 40, 43);
        border: 1px solid gray;
    }

    .Markup-prompt input.invalid {
        color: pink;
    }

    .Markup-menu-tablesizer {
        /* background cannot be inherited because of hover highlighting in dropdown */
        background: black;
    }

    .Markup-menu-dropdown-menu,
    .Markup-menu-submenu {
        border: 1px solid lightgray;
    }

    .Markup-menu-tablesizer .Markup-menu-dropdown-item {
        border: 1px solid lightblue;
    }

}