/**
* CSS and outlined font from https://fonts.google.com/icons?icon.size=24&icon.color=%231f1f1f&icon.platform=web
* under Apache 2.0 license (https://www.apache.org/licenses/LICENSE-2.0.html).
*/

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(./material-icons-outlined.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}